@model IEnumerable<CheeseWorldMVC.Models.tblMiscProduct>

@{
    ViewBag.Title = "Misc. Product List";
}

<h2>Misc. Product List</h2>

<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Price
        </th>
        <th>
            Description
        </th>
        @* <th>
            Score
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MiscProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiscProductRetailPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiscProductDescription)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.MiscProductScore)
        </td>*@
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.MiscProductID }) 
        </td>
    </tr>
}

</table>
